body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.navbar {
	margin-left: 10px;
}

.home {
	display: flex;
	background-color: lightgray;
	margin: 10px;
	border: 3px solid black;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  font-size: 17px;
  font-weight: 400;
}
.flex-item {
	margin: 10px;
	/* width: 200px; */
	/* border: 2px solid red; */
}
.left {
  margin: 20px;
	/* background-color: saddlebrown; */
	flex-grow: 1;
}
.center {
	/* background-color: salmon; */
	flex-grow: 2;
 
}
.right {
	display: flex;
	/* background-color: violet; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
button {
	padding: 10px 30px;
	margin: 10px;
	border-radius: 5px;
	font-size: 15px;
}
.btn-block {
	padding: 10px 38px;
}
.resolve-center {
	display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
  
}
.resolve-div{
  background-color: lightgray;
}
.resolve-content{
  font-size: 20px;
}
label{margin: 8px;
font-weight: bold;
font-size: 20px;
}
select{font-size: 18px;
padding: 6px 2px;
}
.block-content {
 font-size: 20px;
}